@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@font-face {
  font-family: 'dg';
  src: url(../fonts/SfDistantGalaxy-0l3d.ttf) format('truetype');
}
@font-face {
  font-family: 'dg-o';
  src: url(../fonts/SfDistantGalaxyOutline-xoeO.ttf) format('truetype');
}
@font-face {
  font-family: 'dg-s';
  src: url(../fonts/SfDistantGalaxySymbols-aylE.ttf) format('truetype');
}
@font-face {
  font-family: 'sp-r';
  src: url(../fonts/Sofia-Pro-Regular.ttf) format('truetype');
}
*{ margin: 0; padding: 0; }
body{
	background: #000;
	overflow: hidden;
}
html, body, #three-ctn, #html-ctn, 
.start-ctn, .stars, .twinkling, 
.starwars{
	height: 100%;
	width: 100%;
}
.dg.ac{ z-index: 1; }

#html-ctn{
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
	opacity: 1;
	color: #fff;
}
.ctn-info{
	position: absolute;
	bottom: 10px;
	left: -50vw;	
	width: 50vw;
	padding: .5rem;
	box-sizing: border-box;
  border-radius: .75rem;
  background: linear-gradient(to right, rgb(0, 255, 115), rgb(0, 153, 255));
  z-index: 1;
}
.ctn-info-inner{
  background: #000;
  border-radius: .75rem;
	padding: 1rem;
}
.ctn-info .heading{
	width: 100%;	
	display: flex;
	justify-content: space-between;
}
.ctn-info .title{
	font-family: 'dg';
	font-size: 3.5rem;	
}
.symbol{
	font-family: 'dg-s';	
}
.ctn-info .sub-title-1{
	display: block;
	font-family: 'dg';
	font-size: 2rem;
	margin-top: .5rem;	
}
.ctn-info .sub-title-2{
	display: inline-block;
	vertical-align: top;
	font-family: 'dg-o';
	font-size: 2rem;	
	margin-top: .5rem;
}
.ctn-info img{
	height: 140px;
	border-radius: 50%;	
}

.ctn-info .about{
	font-family: 'sp-r';
}

/* Star Wars */
.start-ctn{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.start-ctn .symbol{
	font-size: 3.1rem;
}
.bar{
  height: 10px;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0; left: 0;  
}
.bar-inner{
  background: #ff6;
  height: 100%;
  width: 0%;
  transition: width .5s ease-out;
}
#start, #skip, #loading{
  cursor: pointer;
	font-size: 4rem;
	font-family: "dg-o";
	color: #ff6;
	text-decoration: none;
	position: relative;
	z-index: 3;
}
#skip .symbol,
#loading .symbol{
	font-size: 1.25rem;
}
#skip, #loading{  
  position: absolute;
	font-size: 1.75rem;
}
#skip{  
  top: 20px;
  right: 20px;
}
#loading{
  top: 20px;
  left: 20px;
}
.sub{
  font-size: 2rem;
}
.stars, .twinkling{
	position: absolute;
	top: 0; left: 0;
}
.stars {
  background:#000 url(../assets/stars.png) repeat top center;
  z-index:0;
}
.twinkling{
  background:transparent url(../assets/twinkling.png) repeat top center;
  z-index:1;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.starwars{ 
	position: absolute;
	z-index: 2;
}
.starwars .animation{
	opacity: 0;
}
.starwars section {
  position: absolute;
  top: 45%;
  left: 50%;
  z-index: 1;
}
.starwars .logo {
  opacity: 0;
  -webkit-animation: logo 4s ease-out 1s;
          animation: logo 4s ease-out 1s;
}
.starwars .logo svg {
  width: inherit;
}
.starwars .titles {
	color: #ff6;
	font-family: "News Cycle";
  width: 14.65em;
  margin: 0 0 0 -7.325em;
  top: auto;
  bottom: 0;
  height: 50em;
  font-size: 5rem;
  text-align: justify;
  overflow: hidden;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(300px) rotateX(15deg);
  transform: perspective(300px) rotateX(15deg);
}
.starwars .titles > div {
  position: absolute;
  top: 100%;
  -webkit-animation: titles 50s linear 1s infinite;
          animation: titles 50s linear 1s infinite;
}
.starwars .titles > div > p {
  margin: 1.35em 0 1.85em 0;
  line-height: 1.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}
@keyframes logo {
  0% {
    width: 18em;
    margin: -9em 0 0 -9em;
    -webkit-transform: scale(2.75);
    transform: scale(2.75);
    opacity: 1;
  }
  50% {
    opacity: 1;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
  100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0;
    width: 18em;
    margin: -9em 0 0 -9em;
  }
}

@-webkit-keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}
@keyframes titles {
  0% {
    top: 100%;
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 20%;
    opacity: 0;
  }
}

@-webkit-keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}
@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}